{% extends "basiclayout.html" %}
{% load webtagplugs %}


{% block stylecss %}
{% endblock %}
{#{% block left-menu %}#}
{##}
{#    {% for k,v in request.session.menus.items %}#}
{##}
{#        <div class="first"><a class="list-group-item first-menu"><i#}
{#                class="{{ v.ico }}"></i><span>{{ v.title }}</span></a></div>#}
{##}
{#        <div class="sub {{ v.class }}">#}
{#            {% for sub_menu in v.child %}#}
{#                <a href="{{ sub_menu.url }}" class="list-group-item  sub-menu">{{ sub_menu.title }}</a>#}
{#            {% endfor %}#}
{##}
{#        </div>#}
{#    {% endfor %}#}
{##}
{#{% endblock %}#}
{% block content %}
    <table class="table table table-bordered">
        <tr>
            <th>序号</th>
            <th>编号</th>
            <th>菜单名称</th>
            <th>图标</th>
            <th>权重</th>
            {% if 'menu_edit'|url_filter:request  or 'menu_del'|url_filter:request %}

                <th>操作</th>
            {% endif %}
        </tr>
        {% for menu in menulist %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ menu.id }}</td>
                <td>{{ menu.name }}</td>
                <td>{{ menu.ico }}</td>
                <td>{{ menu.weithg }}</td>

                {% if 'menu_edit'|url_filter:request  or 'menu_del'|url_filter:request %}
                    <td>
                        {% if 'menu_edit'|url_filter:request %}
                            <i class="glyphicon glyphicon-pencil"></i>|
                        {% endif %}
                        {% if 'menu_del'|url_filter:request %}
                            <i class="glyphicon glyphicon-remove"></i>

                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}


    </table>
{% endblock %}
{% block javascript %}
{% endblock %}